#cgpa-tracker-container29 {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    padding: 80px;
    background-color: rgb(45, 11, 56);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#text-container29 {
    width: 35%;
}

#text-title29 {
    font-size: 40px;
    line-height: 60px;
    color: #41d4da;
    margin-bottom: 12px;
}

#text-description29 {
    font-size: 22px;
    line-height: 28px;
}

#form-container29 {
    height: 700px;
    width: 500px;
    padding: 20px;
    font-size: 16px;
    color: #0d1ca1;
    background: rgba(216, 197, 228, 0.7);
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3), -1px -1px 4px rgba(0, 0, 0, 0.3);
}

#form-title29 {
    margin: 20px;
    font-size: 36px;
    text-align: center;
}

#form29 label {
    font-size: 20px;
    
}

#form29 input {
    width: 80%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

#form29 input:focus {
    border: 2px solid #C24914;
}

#form29 input::-webkit-outer-spin-button,
#form29 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit-container29 {
    display: flex;
    justify-content: center;
}

#submit-btn29 {
    color: #fff;
    font-size: 18px;
    padding: 20px;
    margin: 30px 0;
    border: none;
    border-radius: 10px;
    background-color: #682C0E;
    cursor: pointer;
}

#error-message29 {
    color: red;
}

#analysis29 p {
    display: flex;
    justify-content: center;
}

#loading-message29 {
    color: #C24914;
}

#dashboard-title29 {
    color: #a0a0f9;
    transform: translateX(31vw);
}
