#horizontal-navbar5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1c2c; 
  padding: 1rem 2rem;
 
  height: 9vh;
  border-radius: 0; 
  width: 95vw; 
  margin: 0; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 10; 
}

#navbar-title5 {
  font-size: 1.8rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ff6f91, #ff9671, #ffc75f); 
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 1px 5px rgba(255, 255, 255, 0.4); 
}


#button-container5 {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  
}

.navbar-button5 {
  width: 5vw;
  padding: 1rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #f54291, #5d50f5, #47eb9a); 
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.navbar-button5:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.2); 
}

#user-image5 {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ff6f91; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}
.user-logo {
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
}