#vertical-navbar4 {
  background: #1f1c2c;
  color: #ffecb3;
  width: 200px; 
  min-height: 100vh; 
  /* overflow: scroll; */
  position: absolute; 
  top: 16%; 
  left: 0; 
  display: flex;
  flex-direction: column; 
  padding: 1rem;
  margin-top: -3vh;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.6);
}

.navbar-button4 {
  border-color: #ec4899;
  background-color: white;
  color: black;
  height: 7vh;
  width: 10vw;
  margin: 0.5vh;
  align-items: center;
  border-radius: 19px;
}

.navbar-button4:hover {
  background-color: rgba(186, 217, 233, 0.118);
  box-shadow: 0 0 15px white;
  transform: scale(1.05);
  color: white;
}


